#content {margin: 50px; color: white; }

div{

  margin-bottom: 10px;
  
}

label{

  display: inline-block;
  width: 150px;
  text-transform: capitalize;
  
  
};

#box {background-color: black;border-radius: 2px;}
